body {
     background-color: #e8ecf1;
}
#f {
    text-align: center;
}
pre {
    display: inline;
}
#submit_t {
    margin-top: 50px;
    height: 30px;
    background-color: rgb(195, 191, 191);
}
input {
    width: 175px;
    height: 20px;
    border-radius: 5px;
    background-color: #e8ecf1;
}
select {
    width: 176px;
    height: 25px;
    border-radius: 5px;
    background-color: #e8ecf1;
}
#transaction_form {
    background-color: #3d007a;
    color: #e8ecf1;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    border-radius: 30px;
    font-family: 'Arial';
}
#income {
    display: flex;
}
#expense {
    display: flex;
}
.box {
    text-align: center;
    display: inline-block;
    background-color: #3d007a;
    color: #e8ecf1;
    width: 170px;
    border-radius: 30px;
    margin: 10px;
}
#c {
    font-size: larger;
    font-weight: 700;
}
#cat {
    background-color: #3d007a;
    color: #e8ecf1;
    padding: 30px;
    display: block;
    border-radius: 30px;
    width: 160px;
}
.pre {
    display: block;
}
#tot {
    font-size: larger;
    font-weight: 700;
}
.up {
    margin: 10px;
    margin-left: 20px;
    border-radius: 15px;
    width: 50px;
    background-color: rgb(195, 191, 191);
}
.del {
    margin: 10px;
    border-radius: 15px;
    width: 50px;
    background-color: rgb(225, 147, 147);
}
#cat_fil {
    margin-bottom: 15px;
    width: 105px;
}
#apply {
    background-color: rgb(195, 191, 191);
    border-radius: 5px;
}
#type_fil {
    margin-bottom: 15px;
    width: 105px;
}
#apply_fil {
    background-color: rgb(195, 191, 191);
    border-radius: 5px;
}
#search {
    width: 300px;
    height: 22px;
}
#sb {
    background-color: rgb(195, 191, 191);
    border-radius: 3px;
}
#b_form {
    background-color: #3d007a;
    color: #e8ecf1;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    border-radius: 30px;
    font-family: 'Arial';
}
#b_sub {
    margin-top: 50px;
    height: 30px;
    background-color: rgb(195, 191, 191);
}
#temp_bgts {
    text-align: center;
    display: inline-block;
    background-color: #3d007a;
    color: #e8ecf1;
    width: 210px;
    border-radius: 30px;
    margin: 10px;
}
#fbar {
    background-color: #e8ecf1;
    width: 100px;
}
#bbar {
    background-color: #e8ecf1;
    width: 100px;
}
.progress {
    width: 70%;
    height: 15px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px auto;
    overflow: hidden;
}
.progress-fill {
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: rgb(15, 149, 15);
}
#temp_amt {
    margin-left: 30px;
    text-align: left;
}
#temp_spent {
    margin-left: 30px;
    text-align: left;
}
#temp_rem {
    margin-left: 30px;
    text-align: left;
}